* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border: 1px solid black;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products_container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 4fr);
}
