* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  height: 180px;
  background-color: bisque;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: brown;
  border-radius: 50%;
}

.menu_wrapper {
  display: flex;
  gap: 25px;
  font-size: 30px;
  text-decoration: none;
}

.burger_menu {
  display: none;
  width: 45px;
  width: 35px;
}
.line {
  display: block;
  margin: 5px;
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius: 15px;
  transition: 0.3s;
}

.active > .line:nth-child(1) {
  position: relative;
  top: 10px;
  transform: rotate(45deg);
}
.active > .line:nth-child(2) {
  transform: rotate(-45deg);
}
.active > .line:nth-child(3) {
  position: relative;
  top: -10px;
  transform: rotate(45deg);
}

main > ul {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul > li {
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  list-style-type: none;
  background-color: aquamarine;
}

main {
  position: relative;
}

nav {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  background-color: bisque;
  transition: 300ms;
  transform: rotate(45deg);
}

nav.active {
  left: 0;
  width: 100%;
  transform: rotate(0);
}

@media (max-width: 850px) {
  .burger_menu {
    display: inline;
  }
  .menu_wrapper {
    display: none;
  }
}
