/* // 4. Для каждой карточки добавить стили - border, border-radius, padding
// 5. Из usersContainer сделать flex
// 6. Если имя пользователя начинается на букву C (любой регистр), то покрасить карточку в светло-желтый, а если нет - то в светло-зеленый */

.card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: min(300px, 50%);
  /* margin: 0 auto; */
}
.users_container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
